@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

html {
  font-family: "Poppins", sans-serif;
}

/* shared style */
:root {
  --dark-1: #181818;
  --dark-2: #474747;
  --dark-3: #757575;
  --dark-4: #a3a3a3;
  --dark-5: #d1d1d1;
}

.section-title {
  color: var(--dark-1);
  font-size: 35px;
  font-weight: bold;
}

.margin {
  margin-top: 130px;
}
.section-description {
  color: var(--dark-3);
  font-size: 18px;
}
.secondary-bgc {
  background-color: #fff8f3;
}

.header {
  background-image: url("./images/developer.png"), url("./images/header_bg.png");
  background-repeat: no-repeat;
  background-position: top left, bottom right;
}

.text-center {
  text-align: center;
}

/* Nav style adding */
nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 0 200px;
}

.nav-title {
  font-weight: 800;
  font-size: 45px;
}

.title-color {
  color: #fd6e0a;
}

.nav-links {
  display: flex;
  align-items: center;
  gap: 50px;
}

.nav-links li,
li a {
  text-decoration: none;
  list-style: none;
  font-size: 20px;
}

.dark-2 {
  color: var(--dark-2);
}

.primary-btn {
  padding: 18px 36px 19px 35px;
  background-color: #fd6e0a;
  border-radius: 5px;
  font-size: 20px;
  color: white;
  border: none;
}

/* banner styles */
.banner {
  display: flex;
  justify-content: space-between;
  margin: 0 35px 0 200px;
}
.banner-content {
  max-width: 580px;
}
.banner-greetings {
  font-size: 45px;
  font-weight: 600;
}
.banner-title {
  font-size: 85px;
  font-weight: bold;
}
.banner-profile {
  width: 580px;
}
.banner-description {
  color: var(--dark-3);
}

/* Main Style */
main {
  max-width: 1140px;
  margin: 0 auto;
}

/* about style */
.about {
  padding: 135px 155px;
  text-align: center;
  margin-top: 130px;
  border-radius: 10px;
}

.about-box {
  border: 1px sold var(--dark-3);
}

.about-items {
  display: flex;
  justify-content: space-around;
}
.item-title {
  color: var(--dark-3);
}
.item-description {
  color: var(--dark-2);
  font-weight: 600;
}

/* skills style */
.skills {
  margin-top: 130px;
}

.skills-container {
  display: flex;
  gap: 24px;
}

.skill {
  padding: 32px;
  border-radius: 5px;
  box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.05);
}

.skill-title {
  font-size: 20px;
  color: var(--dark-1);
}
.skill-description {
  color: var(--dark-3);
  font-size: 16px;
}

/* Resume styling */
.resume-container {
  display: flex;
  gap: 24px;
  margin-top: 110px;
}

.resume-column-title {
  color: var(--dark-2);
  font-size: 30px;
}

.exp-title {
  color: var(--dark-2);
  font-size: 25px;
}
.exp-sub-title {
  color: var(--dark-3);
  font-size: 20px;
  font-weight: 600;
  margin: 10px 0px 20px 0px;
}
.exp-description {
  color: var(--dark-3);
  font-size: 16px;
}

.resume hr {
  color: var(--dark-5);
}

.resume-btn {
  margin-top: 50px;
}
